name: Generate PDF from HTML

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Install wkhtmltopdf
        run: |
          sudo apt-get update
          sudo apt-get install -y wkhtmltopdf
      
      - name: Install fonts
        run: |
          sudo apt-get install -y p7zip-full
          wget -c https://github.com/takushun-wu/WenJinMincho/releases/download/v2.001/WenJinMincho-OTC.7z
          wget -c https://software.sil.org/downloads/r/charis/Charis-7.000.zip
          7z x WenJinMincho-OTC.7z -o$HOME/.fonts
          7z x Charis-7.000.zip e Charis-7.000/Charis-Regular.ttf -o$HOME/.fonts
          fc-cache -f -v

      - name: Convert HTML to PDF
        run: |
          python pdf.py
          wkhtmltopdf docs/pdf.htm docs/xu.pdf

      - name: Create latest release
        uses: 'marvinpinto/action-automatic-releases@latest'
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: latest
          prerelease: false
          title: 'Latest Release'
          files: |
            docs/xu.pdf
